<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>DBRestfulService</display-name>
    <ejb-local-ref>
        <ejb-ref-name>ru.aparfenov.ws.restful.DbRequestService/dbDaoMultipleRef1</ejb-ref-name>
        <ejb-link>PostgreSqlDbDaoMultipleBean</ejb-link>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ru.aparfenov.restful.pocket.restful.dao.multiple.DbDaoMultiple</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ru.aparfenov.ws.restful.DbRequestService/dbDaoMultipleRef2</ejb-ref-name>
        <ejb-link>OracleDbDaoMultipleBean</ejb-link>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ru.aparfenov.restful.pocket.restful.dao.multiple.DbDaoMultiple</local>
    </ejb-local-ref>

</web-app>